<div class="row">

    <div class="col-md-4" *ngFor = "let hero of myHeroes" >
        <nb-card>
            <nb-card-header class="center">
                <div>
                    <h4>{{hero.name}}</h4>
                    <img class="bordered heroimg" [src]="imgUrl + hero.skin">
                    <p><i>{{hero.description}}</i></p>
                    <div *ngIf="hero.roleCrew">{{hero.roleCrew.name}}</div>
                </div>  
            </nb-card-header>
            <nb-card-body class="center">
               
                    <nb-select  (selectedChange)="selectRole($event)" required="required" [placeholder]="hero.roleCrew? hero.roleCrew.name : 'Choisir Rôle'">
                        <nb-option *ngFor="let i of listRole"
                        [value]="i"
                        [disabled]="isAlreadyUsed(i)">
                                {{i.name}}
                        </nb-option>
                    </nb-select>
                    <div>
                        <button type="submit" nbButton  (click)="addRole(hero)" status="success">Assigner</button>
                        <button type="submit" *ngIf="(hero.roleCrew != null)" nbButton (click)="nullifyRole(hero)">Réinitialiser</button>
                    </div>
                    <div *ngIf="(hero.roleCrew != null)">
                        <h4>Bonus d'alignement (équipe) :</h4>
                            + {{hero.roleCrew.alignmentBonus}} {{hero.faction.faction_alignment}}
                        <h4>Bonus de compétence (héros) :</h4>
                            <div *ngFor = "let bonus of hero.roleCrew.bonus">
                                {{bonus.bonus | strVal}} {{bonus.affected}}
                            </div>
                    </div>
                    
               
                
            </nb-card-body>
        </nb-card>
    </div> 
    
</div>
