<nb-layout>

  <nb-layout-header fixed *ngIf="isConnected()">
      <div class="align">
        <div>
          <nb-action icon="power-outline" (click)="logout()"></nb-action>
        </div>
        <div>
          <nb-icon icon="pin-outline"></nb-icon>
          {{currentUser.gold}}
        </div>
        <div>
          <nb-icon icon="loader-outline"></nb-icon>
          {{currentUser.crystals}}
        </div>
      </div>
  </nb-layout-header>

  <nb-sidebar *ngIf="isConnected()">
    <app-nav></app-nav>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed *ngIf="isConnected()">
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
