h4{
    font-size:20px;
}

.center{
    text-align: center;
}

.spaced{
    display: flex;
    justify-content: space-around;
}

.stats{
    margin-bottom:25px;
}

.skills{
    margin: 25px 0px;
}

.important{
    text-transform: uppercase;
    font-weight: bold;
}

.mini{
    font-size: 12px;
}

.heroimg{
    height: 6rem;
    margin: 1.2rem;
}

.factionimg{
    height: 6rem;
    margin-bottom: 1.5rem;
}

.bordered{
    border: 3px solid rgb(28, 28, 49);
}